{% extends "layout.html" %}
{% block main %}

<body>
    <div class="box" style="height: 50px;"></div>
    <div class="box">
        <div class="box footer-text">
            Created by: <a href="https://github.com/EiTamOnya" target="_blank">EiTamOnya</a>
        </div>
    </div>
    <div class="box" style="height: 20px;">
    </div>
    <div class="box">
        <a href="https://www.buymeacoffee.com/EiTamOnya" target="_blank">
            <button>
                ☕ Buy me a coffee!
            </button type="submit">
        </a>
    </div>
</body>
{% endblock %}