<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="../static/scripts.js"></script>
  <script type="text/javascript" src="../static/install.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  {% if session['mode'] %}
  <link id="style" href={{ session['mode']['link'] }} rel="stylesheet">
  {% else %}
  <link id="style" href="../static/mystyles.css" rel="stylesheet">
  {% endif %}
  <link rel="shortcut icon" type="image/jpg" href="../static/favicon.png" />
  <link rel="manifest" crossorigin="use-credentials" href="../static/manifest.json" />
  <title>Lyricspot
  </title>
</head>

<body class="site-body">
  <main class="site-content">
    <nav class="navbar">
      <div class="nav-container left">
        <div class="nav-container-item brand">
          <a class="nav-link-brand" href="/">LyricSpot
          </a>
        </div>
        <div class="nav-container-item spacer">
        </div>
        {% if session['country'] %}
        <div class="nav-container-item">
          <a class="nav-link" href="/top">Top Tracks</a>
        </div>
        <div class="nav-container-item">
          <a class="nav-link" href="/recent">Recently Played
          </a>
        </div>
        <div class="nav-container-item">
          <a class="nav-link" href="/about">About
          </a>
        </div>
      </div>
      <div class="nav-container right">
        <div class="nav-container-item mode">
          <a href="#" id="mode">
            <i xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
              class="bi sun-moon-icon"></i>
          </a>
        </div>
        <div class="nav-container-item logout">
          <a class="nav-link" href="/logout">Log out
          </a>
        </div>
        <div class="repsonsive-icon">
          <a href="javascript:void(0);" class="icon" onclick="showHideMenu()">
            <i xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-list"></i>
          </a>
        </div>
      </div>
      {% endif %}
    </nav>
    {% if session['country'] %}
    <div class="mobile-nav" id="mobileLinks">
      <a href="/top">Top Tracks</a>
      <a href="/recent">Recently Played</a>
      <a href="#" id="installButton" onClick="installPWA()">Download App</a>
      <a href="/about">About</a>
      <a href="/logout">Log out</a>
    </div>
    {% endif %}
    {% block main %}{% endblock %}
  </main>
  <footer>
    {% if session['country'] %}
    <div class="box footer-text">
      All data provided for free by <a href="https://developer.spotify.com" target="_blank">Spotify</a>, <a
        href="https://developer.musixmatch.com/" target="_blank">Musixmatch</a>,
      <a href="https://lyricsovh.docs.apiary.io/" target="_blank">Lyricsovh</a> & <a href="https://docs.genius.com/"
        target="_blank">Genius</a>.
    </div>
    {% endif %}
  </footer>
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker
        .register('./serviceWorker.js', { scope: '/' })
        .then(function (registration) {
          console.log('Service Worker Registered!');
          return registration;
        })
        .catch(function (err) {
          console.error('Unable to register service worker.', err);
        });
    }
    let mode = window.localStorage.getItem('mode');
    $('body').ready(changeMode(mode));
    $('body').ready(checkIfInstalled());
  </script>

</body>

</html>