{% extends "layout.html" %}
{% block main %}
<div class="box">
    <h1 class='page-title'>{{title}}</h1>
</div>
{% if title == 'Your 50 Top Played Tracks' %}
<div class='top-buttons'>
    <button data-term="short" onClick="getTopSogns(this)">4 weeks</button>
    <button data-term="medium" onClick="getTopSogns(this)">6 months</button>
    <button class="active" data-term="long" onClick="getTopSogns(this)">all time</button>
</div>
{% endif %}
<div class="box card-container">
    {% for song in songs %}
    <div class="card">
        <div class="card-position">
            {{loop.index }}
        </div>
        <div class="card-img">
            <img alt="album cover" src={{song.image_link}}>
        </div>
        <div class="card-name song-name">
            <a href={{song.link}} target="_blank">{{song.name}}
            </a>
        </div>
        <div class="card-artist song-artist">
            <a href={{song.artists[0].link}} target="_blank">{{song.artists[0].name}}
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}