/* label {
    display: block;
} */

/* label a {
    text-decoration: none;
} */
/* label a:visited {
    text-decoration: none;
    color: black;
} */
/* label a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 5px;
} */