{% extends "layout.html" %}
{% block main %}
    <body onload="">
        <div class="box">
            <div class="collection">
                <h3>{{ message }}</h3>
                {% if message == 'Creating your collection!' %}
                <progress id="collection_progress" value="1" max="100"></progress>
                <p>0%</p>
                <div class="collection-link">
                    <p>Please do not refresh the page!</p>
                    <a href="{{ coll_url }}" target="_blank" style="display:none;"> Visit the collection </a>
                </div>
                {% endif %}
            </div>
        </div>
        <script>
            let interval = 1000;
            setTimeout(updateCollProgress, interval);
        </script>
    </body>
{% endblock %}